.commerce-shipment-unshipped-items-view .views-table caption {
    text-align:left;
    font-size: 16px;
    font-weight: bold;
}

.commerce-shipment-unshipped-items-view .views-table .views-field-sku {
    width:40%;
}

.commerce-shipment-unshipped-items-view .views-table .views-field-quantity {
    width:20%;
}
